<div class="row">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <h3>Hard & Soft skills</h3>
    <div class="circles-container">
        <div class="circle-wrapper">
          <circle-progress
          [percent]="75"
          [radius]="60"
          [title]="'HTML'"
          [titleColor]="'black'"
          [imageSrc]="'../../../assets/html.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [titleFontSize]="'1rem'"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ec46de'"
          [innerStrokeColor]="'#f3ff52'"
          [animation]="true"
          [animationDuration]="1000"
          ></circle-progress>
        </div>
     </div>
     <div class="circles-container">
        <div class="circle-wrapper">
          <circle-progress
          [percent]="75"
          [radius]="60"
          [title]="'CSS'"
          [titleColor]="'black'"
          [imageSrc]="'../../../assets/css.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [titleFontSize]="'1rem'"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ec46de'"
          [innerStrokeColor]="'#f3ff52'"
          [animation]="true"
          [animationDuration]="1000"
          ></circle-progress>
        </div>
     </div>
     <div class="circles-container">
        <div class="circle-wrapper">
          <circle-progress
          [percent]="90"
          [radius]="60"
          [title]="'Canva'"
          [titleColor]="'black'"
          [imageSrc]="'../../../assets/canva.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [titleFontSize]="'1rem'"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ec46de'"
          [innerStrokeColor]="'#f3ff52'"
          [animation]="true"
          [animationDuration]="1000"
          ></circle-progress>
        </div>
     </div>
     <div class="circles-container">
        <div class="circle-wrapper">
          <circle-progress
          [percent]="70"
          [radius]="60"
          [title]="'Git'"
          [titleColor]="'black'"
          [imageSrc]="'../../../assets/gitcircle.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [titleFontSize]="'1rem'"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ec46de'"
          [innerStrokeColor]="'#f3ff52'"
          [animation]="true"
          [animationDuration]="1000"
          ></circle-progress>
        </div>
     </div>
     <div class="circles-container">
        <div class="circle-wrapper">
          <circle-progress
          [percent]="80"
          [radius]="60"
          [title]="'Inglés'"
          [titleColor]="'black'"
          [imageSrc]="'../../../assets/ingles.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [titleFontSize]="'1rem'"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ec46de'"
          [innerStrokeColor]="'#f3ff52'"
          [animation]="true"
          [animationDuration]="1000"
          ></circle-progress>
          <circle-progress
          [percent]="60"
          [radius]="60"
          [title]="'Java'"
          [titleColor]="'black'"
          [imageSrc]="'../../../assets/java.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [titleFontSize]="'1rem'"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ec46de'"
          [innerStrokeColor]="'#f3ff52'"
          [animation]="true"
          [animationDuration]="1000"
          ></circle-progress>
          <circle-progress
          [percent]="75"
          [radius]="60"
          [title]="'Excel'"
          [titleColor]="'black'"
          [imageSrc]="'../../../assets/excel.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [titleFontSize]="'1rem'"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ec46de'"
          [innerStrokeColor]="'#f3ff52'"
          [animation]="true"
          [animationDuration]="1000"
          ></circle-progress>
        </div>
     </div>
</div>
