.row{
    padding: 20px;
}
.container{
    width:auto;
}
h4{
    display: inline;
}
.parte1, .parte2{
    display: inline;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 5px grey;
    box-shadow: ejeX ejeY difumasion color;
    width: 37%;
    float: right;
    margin-left: 10px;
}
#experiencia{
    font-family: 'Rubik', sans-serif;
}

#proyecto{
    font-family: 'Rubik', sans-serif;
}
#portfolio{
    font-family: 'Rubik', sans-serif;
}
#fecha{
    font-family: 'Rubik', sans-serif;
}
p{
    font-family: 'Rubik', sans-serif;
}