<div class="row">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
  <h3 id="proyecto">Proyectos realizados:</h3>
  <div class="container">
    <h4 id="portfolio">Portfolio web #YoProgramo</h4>-<h4 id="fecha">(Octubre 2022-Mayo 2023)</h4>
    <p> Sitio web diseñado y pensado para exhibir, destacar muestras de trabajos, proyectos o habilidades. 
    Es una plataforma online donde podemos mostrar nuestras experiencias, logros de una forma visual y atractiva.
    Creado con el objetivo de que sea valorado y apreciado por quien lo observe, valorando el trabajo realizado.
    </p>

    <div class="col-sm-12 col-md-5 col-lg-5 offset-md-2 offset-lg-2 parte2">
      <a href="http://localhost:4200/"><img src="../../../assets/bannerportfolio.jpg" id="Mi portfolio" class="img-fluid img-proyecto"></a>
    </div>
    
  </div>
</div>
