img{
    width: 35px;
    height: 31px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoap {
    width: 130px;
    height: 65px;
    margin-left: 25%;
  }
.redes {
    position: absolute;
    right: 5%;
    top: 2%;
    
  }
 
