<div class="row">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" 
        class="img-fluid" id="fotoperfil">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 id="nombre1">Gabriele Lucila Agustina</h4>
        <p id="nombre2">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-dm-8 col-lg-8">
        <span>
            <h1 id="texto1">Acerca de mi:</h1>
            <p id="texto2">Mi nombre es Lucila Gabriele, de Santa Fe Capital. Actualmente me encuentro estudiando 
                Desarrollo de Software para obtener el titulo de Tecnica Superior en Desarrollo,
                también soy diseñadora web, poseo estudios en informática administrativa y estudio inglés.
            </p>
     </span>
 </div>
</div>    