<div class="row">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
  <h3 id="experiencia">Experiencia laboral: </h3>
  <div class="col-lg-11">
    <ul>
        <li><h3 id="trabajo">Experiencia en eventos & gastronomia</h3>-<h3 id="años">(2018-2019)</h3></li>
        <p> Generalmente incluyen tareas como recibir y acomodar a los invitados, servir alimentos y bebidas, 
        y atender cualquier necesidad adicional que puedan tener, la capacidad de comunicación es esencial, 
        ya que se debe interactuar con los invitados/comensales, proporcionar recomendaciones y asegurarse de 
        que todas las solicitudes especiales se cumplan.
        </p>
        <li><h3 id="trabajo">Experiencia en atencion al cliente</h3>-<h3 id="años">(2017)</h3></li>
        <p>Mi experiencia en éste rubro ese basó en prestar atención a las necesidades y preocupaciones de los clientes
        responder de manera oportuna a las consultas, quejas o solicitudes de los clientes para evitar la 
        insatisfacción y mejorar la experiencia de los mismos.
        </p>
    </ul>
  </div>
</div>