<div class="row">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
   <h3 id="experiencia">Educación: </h3>
   <div class="col-lg-11">
     <ul>
         <li><h3 id="educacion">Instituto Latinoamericano de Desarrollo Social y Salud</h3>-<h3 id="año">(2020)</h3></li>
         <h4 id="titulo"> Titulo: Diplomado Ejecutivo en Ciencias Empresariales con Orientación en Gestión de Pymes.</h4>
         <p>Capacidad de comprender y aplicar los principios fundamentales de la gestión empresarial en una 
            pequeña o mediana empresa.Pudiendo llevar a cabo tareas como planificación estratégica, gestión 
            de recursos,toma de decisiones y organización eficiente de los procesos empresariales.
         </p>
         <li><h3 id="educacion"> Instituto para la Formación Empresaria y el Empleo (IFEE)</h3>-<h3 id="año">(2020)</h3></li>
         <h4 id="titulo"> Titulo: Operador de Informática para Administración y Gestión.</h4>
         <p>Dominio de los sistemas informáticos y software utilizados en la gestión y administración, 
            como aplicaciones de hojas de cálculo,capaz de organizar y gestionar eficientemente la información 
            relevante para administrar y gestionar, asegurando el almacenamiento adecuado, su actualización, como también 
            habilidades de trabajo en equipo. 
         </p>
         <li><h3 id="educacion">Instituto para la Formación Empresaria y el Empleo (IFEE)</h3>-<h3 id="año">(2019)</h3></li>
         <h4 id="titulo"> Titulo: Diseño Aplicado y Programación Web</h4>
         <p>Habilidad para generar ideas innovadoras y desarrollar diseños atractivos y únicos, diseñar interfaces que 
            sean intuitivas y fáciles de usar, centrándose en las necesidades y expectativas de los usuarios. Tener 
            en cuenta la optimización del rendimiento del sitio web, como la carga rápida de páginas, el uso 
            eficiente de recursos.
         </p>
            <li><h3 id="educacion">Instituto para la Formación Empresaria y el Empleo (IFEE)</h3>-<h3 id="año">(2019)</h3></li>
         <h4 id="titulo"> Titulo: Operador de PC</h4>
         <p>Conocimiento sobre el funcionamiento básico de una computadora, como la capacidad para utilizar diferentes
            programas y software de manera efectiva. Incluyendo habilidades mediante el uso de sistemas operativos, 
            navegadores web, aplicaciones y otras herramientas comunes.Poder identificar y solucionar problemas 
            técnicos básicos que puedan surgir durante el trabajo, como la resolución de problemas de conectividad 
            de red, problemas de software de la PC y otros problemas comunes.
         </p>
            <li><h3 id="educacion">Empleotecnia</h3>-<h3 id="año">(2021)</h3></li>
            <h4 id="titulo"> Titulo: Excel Intermedio</h4>
            <p>Capaz de utilizar una amplia variedad de funciones, asi como también utilizar argumentos, rangos y 
            referencias para aplicar las funciones de manera efectiva. Implica poder comprender estas áreas en el 
            análisis y manipulación de datos. La práctica constante mientras se explora nuevas características 
            ayudan a mejorar dichas habilidades.
         </p>
            <li><h3 id="educacion">Empleotecnia</h3>-<h3 id="año">(2021)</h3></li>
            <h4 id="titulo"> Titulo: Excel Avanzado I</h4>
            <p>Dominio para poder crear y personalizar tablas dinámicas donde se analizan y resumen grandes conjuntos 
            de datos, capacidad de importar/exportar datos hacia otras fuentes, bases de datos externas u otras 
            aplicaciones, chequear reglas de validación a las celdas para controlar y limitar los datos ingresados.
         </p>
       </ul>
   </div>
 </div>