<div>
    <a href="https://www.linkedin.com/in/lucila-gabriele/"><img src="../../../assets/linkedin.png" id="LinkedIn"></a>
    <a href="https://twitter.com/lucigabriele_"><img src="../../../assets/twit.png" id="Twitter"></a>
    <a href="https://www.instagram.com/lucila.gbrl/"><img src="../../../assets/instg.png" id="Instagram"></a>
    <a href="https://github.com/LuciGabriele20"><img src="../../../assets/git.png" id="GitHub"></a>
    <a href="https://www.facebook.com/lucigabriele20"><img src="../../../assets/facebook.png" id="Facebook"></a>
    </div>
